.card {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(218, 209, 209);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
  flex: 1;
}

.card_top {
  display: flex;
  gap: 5px;
}

.card_labels {
  flex: 1;
  display: flex;
  gap: 10px;
}

.card_title {
  font-weight: bold;
}

.card_footer p {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
