.app {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.navbar {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}

.outer {
  width: 100%;
  flex: 1;
  overflow-x: auto;
  /*overflow-x: auto means if the content overflows the element horizontally, a scrollbar will appear, */
  padding: 20px;
}

.boards {
  display: flex;
  min-width: fit-content;
  gap: 30px;
}
